/* 首頁需要的CSS */




/* 首頁共同的 */
.index-all h2{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    color: #650300;
}

/* 為甚麼我文字最粗就這樣? */
.glasses-frame h3{
    font-size: 48px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-style: italic;
    color: #AA0601;
    font-weight: 700;
}

/* banner */
.banner{
    width: 100%;
    height: 840px;
    background-image: url(../images/index-img/banner-img.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: right;
}

.banner h4{
    font-size: 36px;
    color: #650300;
    font-weight: 600;
}

.banner h5{
    font-size: 64px;
    color: #650300;
    font-weight: 800;
}

/* 專心的心做專業的事 */
.profession-heart{
    background-color: #AA06010D;
    color: #650300;
}

.profession-heart h2{
    padding-top: 60px;
}

.profession-list{
    display: flex;
    padding: 48.33px 0 80px;
}

.profession-list li{
    width: 25%;
    margin-right: 30px;
}

.profession-list li:last-child{
    margin-right: 0;
}

.profession-heart img{
    width: 83.33px;
    height: 83.33px;
    margin: auto;    
    font-weight: 900;
}

.profession-title{
    font-size: 24px;
    text-align: center;
    font-weight: 900;
    margin:24.33px 0 8px;
}

.profession-list p{
    color: #000000;
    font-weight: 600;
}


/* 經典系列鏡框 */
.glasses-frame{
    padding: 60px 0 48px;
}

.glasses-frame h2{
    margin-bottom: 40px;
}

.frame-inner li{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.frame-inner li:nth-child(2){
    justify-content: flex-end;
}

/* 剩下圖片這邊非常怪要看 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.frame-img{
    width: 635px;
    /* height: 320px; */
}

.frame-img img{
    max-width: 100%;
    height: auto;
}

.titleicon{
    display: flex;
    align-items: center;
    margin-left: 32px;
}


/*想用這樣方式但下面兩個都有套用效果? */
/* .titleicon:nth-child(2){
    order: -1;
} */
.titleicon-second{
    order: -1;
    margin-left: 0;
    margin-right: 30px;
}


.titleicon img{
    width: 48px;
    height: 48px;
}

.titleicon h3{
    margin-left: 10px;
}



/* 聯名設計鏡框 */
.jointname{
    width: 100%;
    height: 705px;
    background-image: url(../images/index-img/jointname-framebg.png);
    background-position: center;
    background-size: cover;
}

.jointname h2{
    color: #fff;
    padding-top: 60px;
}

.jointname-content{
    margin: 40px 0 80px;
    display: flex;
}

.jointbox{
    width: 540px;
    height: 455px;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.jointname-box1{
    margin-right: 30px;
    background-image: url(../images/index-img/jointname-leftimg.png);
}

.jointname-box2{
    background-image: url(../images/index-img/jointname-rightimg.png);
}

.jointname-opacity{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;

    display: flex;
}

.joint-title{
    font-size: 72px;
    color: #AA0601;
    font-weight: 500;
    /* 讓字置中 */
    display: flex;
    margin: auto;
    align-items: center;
}




 /* 顧客推薦  */
.recommend{
    padding: 60px 0 80px;
}

.recommend h2{
    margin-bottom: 40px;
}

.recommend-inner{
    display: flex;
}
 
.recommend-card{
    width: 25%;
    height: 460px;
    margin-right: 30px; 
    box-shadow: 0px 2px 6px #00000029;
    position: relative;
}

/* 照片一樣怪怪的 */
/* .recommend-card img{
    width: 255px;
    height: 256px;
} */

.recommend-card img{
    max-width: 100%;
    width: 255px;
    height: auto;
}

.recommend-card:last-child{
    margin-right: 0;
}

.recommend-card p{
    padding: 8px 16px 0;
    font-weight: 600;
}

.recommend-card p:nth-child(2n){
    margin-top: 8px;
}

.color-grey{
    color: #707070;
    font-weight: lighter;
    padding-bottom: 16px;
    /* 為了讓固定底部 */
    position: absolute;
    bottom: 16px;
}




 /* 聯絡我們 */
.contactus{
    background-color: #AA06010D;
}

.contactus-container{
    width: 730px;
    margin: auto;
    padding: 60px 0 80px;
}

.contactus h2{
   color: black;
   margin-bottom: 24px;
}

.contactus p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contactus label{
    font-weight: 600;
    margin-bottom: 4px;
}

.contactus input{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    margin-bottom: 16px;
    background-color: #AA06010D;
}

/* input placeholder裡面的文字*/
input::placeholder{
    padding-left: 16px;
}

/* 意見反應要如何靠左上? */

#attend{
    height: 136px;
}

/* checkbox這邊還是有點怪怪的 方形border不粗 文字不整齊 */
#confirm{
    width: 24px;
    height: 24px;
    border: 3px solid #000;
    margin-bottom: 40px;
}

.contactus input:last-child{
    width: 350px;
    height: 54px;
    color: white;
    background-color: #AA0601;
    text-align: center;
    border: 0;
    display: flex;
    margin: auto;
    justify-content: center;

    transition: 0.8s;
}

.contactus input:last-child:hover{
    background-color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 900;
    border-radius: 8px;
}

/* 為何使用nth-child沒效果? 不然是不能用id 但沒辦法了... */
.contactus input:nth-child(4){
    height: 136px;    
}
.contactus input:nth-child(5){
    width: 24px;
    height: 24px;
}






/* RWD開始 */

/* 首頁需要共同的 */
@media(max-width:768px){
    .index-all h2{
        font-size: 32px;
    }
}

@media(max-width:430px){
    .index-all h2{
        font-size: 24px;
    }
}


/* banner */
@media(max-width:768px){
    .banner h4{
        font-size: 20px;
    }
    .banner h5{
        font-size: 48px;
    }
}
@media(max-width:509px){
    .banner h4{
        font-size: 16px;
        line-height: 30px;
    }
    .banner h5{
        font-size: 32px;
        line-height: 72px;
    }
}
@media(max-width:375px){
    .banner{
        background-image: url(../images/index-img/banner-sm.png);
    }
}
@media(max-width:317px){
    .banner h5{
        font-size: 28px;
    }
}


/* 專心的心做專業的事 */
@media(max-width:882px){
    .profession-title{
        font-size: 22px;
    }
}

@media(max-width:822px){
    .profession-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .profession-list li{
        width: 34.5%;
    }
    .profession-title{
        font-size: 24px;
    }
    .profession-list li:nth-child(2){
        margin-right: 0;
    }
    .mb-44{
        margin-bottom: 44.5px;
    }
}

@media(max-width:768px){
    .profession-list{
        padding: 40.33px 0 56px;
    }
    .profession-list li{
        width: 37%;
    }
    .profession-heart h2{
        padding-top: 40px;
    }
}

@media(max-width:576px){
    .profession-list li{
        width: 45%;
    }
}

@media(max-width:474px){
    .profession-list li{
        width: 80%;
        margin-right: 0;
        margin-bottom: 40.33px;
    }
}

@media(max-width:375px){
    .profession-list li{
        width: 255px;
    }
    
    .profession-heart h2{
        padding-top: 32px;
    }
    .profession-list{
        padding: 28.08px 0 40px;
    }
}



/* 經典系列鏡框 */
@media(max-width:1100px){
    .glasses-frame{
        padding: 40px 0 56px;
    }
    .glasses-frame h3{
        font-size: 36px;
    }
    .titleicon-second{
        order: 1;
        margin-left: 32px;
    }
    .frame-inner li:nth-child(2){
        justify-content: unset;
    }
}
@media(max-width:1055px){
    .frame-img{
        width: 550px;
    }
}
@media(max-width:972px){
    .frame-img{
        width: 480px;
    }
}
@media(max-width:900px){
    .frame-img{
        width: 400px;
    }
}
@media(max-width:825px){
    .frame-img{
        width: 390px;
    }
}
@media(max-width:820px){
    .glasses-frame h2{
        margin-bottom: 32px;
    }
    .frame-inner li{
        margin-bottom: 8px;
    }
    .titleicon{
        margin-left: 30px;
    }
    .titleicon img{
        width: 38px;
        height: 38px;
    }
    .titleicon-second{
        margin-right: 0;
    }
    .glasses-frame h3{
        font-size: 28px;
    }   
}
@media(max-width:727px){
    .frame-img{
        width: 350px;
    }
}
@media(max-width:687px){
    .frame-img{
        width: 350px;
    }
    .titleicon{
        margin-left: 15px;
    }
}
@media(max-width:665px){
    .frame-img{
        width: 310px;
    }
}
@media(max-width:630px){
    .frame-img{
        width: 280px;
    }
}
@media(max-width:600px){
    .frame-img{
        width: 100%;
        position: relative;
    }
    /* 為了要讓文字圖形置中 */
    .titleicon{
        margin-left: 0px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        margin: auto;
    }
}
@media(max-width:430px){
    .glasses-frame{
        padding: 32px 0 40px;
    }
    .glasses-frame h2{
        margin-bottom: 20px;
    }
}
@media(max-width:320px){
    .titleicon{
        position: absolute;
        left: 40%;
    }
}



/* 聯名設計鏡框 */
/* 這邊的RWD方塊有沒有解決的更好方法? */
@media(max-width:1200px){
    .jointname{
        height: 685px;
    }
    .jointname h2{
        padding-top: 40px;
    }
    .jointname-content{
        margin: 32px 0 56px;
        display: flex;
        justify-content: center;
    }
    .jointbox{
        width: 500px;
        height: 428px;
    }
    .joint-title{
        font-size: 48px;
    }
}

@media(max-width:1024px){
    .jointname{
        height: 625px;
    }
    .jointbox{
        width: 45%;
        height: 420px;
    }
}
@media(max-width:992px){
    .jointname{
        height: 580px;
    }
    .jointbox{
        width: 41%;
        height: 360px;
    }
}
@media(max-width:850px){
    .jointname{
        height: 530px;
    }
    .jointbox{
        width: 48%;
        height: 320px;
    }
}
@media(max-width:768px){
    .jointname{
        height: 452px;
    }
    .jointbox{
        height: 278px;
    }
    .joint-title{
        font-size: 32px;
        line-height: 25px;
    }
}
@media(max-width:660px){
    .jointname{
        height: 420px;
    }
    .jointbox{
        height: 245px;
    }
}
@media(max-width:576px){
    .jointname{
        height: 380px;
    }
    .jointbox{
        height: 210px;
    }
}
@media(max-width:520px){
    .jointname{
        height: 350px;
    }
    .jointbox{
        height: 180px;
    }
}
@media(max-width:470px){
    .jointname{
        height: 770px;
    }
    .jointname-content{
        flex-wrap: wrap;
    }
    .jointbox{
        width: 85%;
        height: 291px;
    }
    .jointname-box1{
        margin-right: 0;
        margin-bottom: 16px;
    }
}
@media(max-width:414px){
    .jointname-content{
        margin: 20px 0 40px;
    }
    .jointname h2{
        padding-top: 32px;
    }
    .jointname{
        height: 730px;
    }
    .jointbox{
        width: 92%;
    }
}
@media(max-width:375px){
    .jointname{
        height: 719px;
    }
    .jointbox{
        width: 100%;
    }
}
@media(max-width:350px){
    .jointname{
        height: 700px;
    }
    .jointbox{
        height: 275px;
    }
}
@media(max-width:350px){
    .jointname{
        height: 650px;
    }
    .jointbox{
        height: 250px;
    }
}



/* recommend  到四個方塊時卡關*/
@media(max-width:1200px){
    .recommend{
        padding: 40px 0 56px;
    }
    .recommend h2{
        margin-bottom: 32px;
    }
    .recommend-inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .recommend-card{
        width: 22%;
    }
}

@media(max-width:1078px){
    .recommend-card{
        height: 380px;
    }
}
@media(max-width:827px){
    .recommend-card{
        height: 460px;
        width: 44.1%;
    }
    .recommend-card:nth-child(2){
        margin-right: 0;
    }
    .mb-32{
        margin-bottom: 32px;
    }
    .recommend-card img{
        width: 100%;
    }
    .recommend-card p{
        padding: 8px 24px 0;
    }
    
}
@media(max-width:768px){
    .recommend-inner{
        width: 100%;
    }
    .recommend-card{
        width: 330px;
    }
}
@media(max-width:767px){
    .recommend-card{
        width: 46%;
    }
}
@media(max-width:680px){
    .recommend-card{
        width: 47%;
    }
}
@media(max-width:680px){
    .recommend-card{
        height: 420px;
    }
}
@media(max-width:577px){
    .recommend-card{
        width: 80%;
        height: 460px;
        margin-right: 0;
        margin-bottom: 32px;
    }
}
@media(max-width:460px){
    .recommend-card{
        width: 86%;
    }
}
@media(max-width:414px){
    .recommend-card{
        width: 100%;
        margin-bottom: 16px;
    }
    .recommend{
        padding: 32px 0 40px;
    }
    .recommend h2{
        margin-bottom: 20px;
    }
}


/* contactus */
@media(max-width:768px){
    .contactus-container{
        width: 450px;   
        padding: 40px 0 56px;
    }
    .contactus p{
        font-size: 16px;
    }
    .contactus input{
        height: 36px;
    }
    .contactus input:last-child{
        width: 210px;
        height: 40px;
        margin-top: 20px;
    }
    input::placeholder{
        padding-left: 12px;
    }
    #confirm{
        margin-bottom: 0;
        width: 18px;
        height: 18px;
    }
    /* .contactus span{
        
    } */
    /* 我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。 這段沒有跟方塊對齊!!!!!!! */
}
@media(max-width:470px){
    .contactus-container{
        width: 100%;
        padding: 40px 15px 56px;
    }
}
@media(max-width:375px){
    .banner{
        height: 394px;
    }
    .contactus-container{
        padding: 30px 15px 40px;
    }
    .contactus p{
        margin-bottom: 8px;
    }
    .contactus input{
        margin-bottom: 8px;
    }
    .contactus h2{
        margin-bottom: 20px;
    }
}




